#loaderDiv {
    position: absolute;
    top: 50%;
    left: 50%;

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 0;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

#startDiv {

    #startDivContainer {
        margin-bottom: 20px;

        .classesDiv {
            margin-top: 20px;
            width: 1200px;

            .classDiv {
                width: 200px;
                background-color: rgb(243, 243, 243);
                display: inline-block;
                padding: 5px;
                margin: 5px;

                .className {
                    font-size: 15pt;
                    font-weight: bold;
                }

                .cTitle {
                    width: 60px;
                    display: inline-block;
                }

                $cValWidth: 20px;
                .cVal0 { display:inline-block; width: $cValWidth * 0; background-color: none; padding: 5px;}
                .cVal1 { display:inline-block; width: $cValWidth * 1; background-color: rgb(226, 40, 15); padding: 5px; }
                .cVal2 { display:inline-block; width: $cValWidth * 2; background-color: rgb(230, 160, 10); padding: 5px; }
                .cVal3 { display:inline-block; width: $cValWidth * 3; background-color: rgb(223, 226, 17); padding: 5px; }
                .cVal4 { display:inline-block; width: $cValWidth * 4; background-color: rgb(152, 226, 14); padding: 5px; }
                .cVal5 { display:inline-block; width: $cValWidth * 5; background-color: rgb(44, 221, 21) ; padding: 5px;}
            }
        }

        .startPDiv {
            margin-top: 20px;
        }
    }

}

#setupDiv {
    
    .setupDeck {
        display: inline-block;
        width: 250px;
        min-height: 200px;
        background-color: rgb(230, 230, 230);
        vertical-align: top;
        padding: 5px;

        ul {
            padding: 0;
            list-style-type: none;

            li {
                padding: 5px;
            }

            li:nth-child(odd) {
                background-color: rgb(157, 216, 255);
            }

            li:nth-child(even) {
                background-color: rgb(255, 232, 157);
            }
        }
    }
}

#playDiv {
    .modal {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(224, 224, 224, 0.80);

        .modalContainer {
            position: absolute;
            top: 25%;
            left: 50%;
            background-color: white;
            border: solid 1px black;
            padding: 25px;
        }
    }

    .player {
        display: inline-block;
        width: 250px;
        background-color: rgb(167, 220, 241);
        padding: 5px;
    }
}