.general {
  background-color: #cfcfcf;
}

.barbarian {
  background-color: #c23737;
}

.ranger {
  background-color: #5ba4e9;
}

.cleric {
  background-color: #f0e9aa;
}

.rogue {
  background-color: #69539b;
}

.wizard {
  background-color: #1457d4;
}

.bard {
  background-color: #ec9e44;
}

.druid {
  background-color: #775830;
}

.monk {
  background-color: #83c0d8;
}

.paladin {
  background-color: #465183;
}

#loaderDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

#loaderDiv .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.modal {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 224, 224, 0.8);
}

.modal .modalContainer .modalDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 1px black;
  padding: 25px;
  background-color: white;
  max-height: 800px;
  overflow-y: scroll;
}

.modal .modalContainer .statsModalDiv {
  top: 35%;
  height: 310px;
  margin-top: -155px;
  margin-left: -250px;
  overflow-y: auto;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer {
  width: 200px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: solid 1px #a1a1a1;
  display: inline-block;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsTitle .sPlayer {
  font-size: 8pt;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsTitle .sClass {
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsTitle .sLevel {
  display: inline-block;
  font-size: 10pt;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsHPBar {
  position: relative;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsHPBar .sHPBar {
  height: 100%;
  width: 100%;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsHPBar .sHPText {
  position: absolute;
  line-height: 20px;
  vertical-align: middle;
  top: 0;
  left: 5px;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsImage {
  height: 150px;
  background-color: white;
  border: solid 1px black;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsStats .sStat {
  border-bottom: 1px dotted black;
  margin-top: 2px;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsStats .sStat .sStatLabel {
  display: inline-block;
}

.modal .modalContainer .statsModalDiv .statsLeftContainer .statsStats .sStat .sStatValue {
  float: right;
}

.modal .modalContainer .statsModalDiv .statsRightContainer {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

.modal .modalContainer .statsModalDiv .statsRightContainer .statsPassiveTitle {
  font-weight: bold;
}

.modal .modalContainer .statsModalDiv .statsRightContainer .statsPassive {
  margin-top: 10px;
}

.modal .modalContainer .statsModalDiv .statsRightContainer .statsPassive .passiveName {
  font-size: 10pt;
}

.modal .modalContainer .statsModalDiv .statsRightContainer .statsPassive .passiveDescript {
  font-size: 9pt;
}

.modal .modalContainer .deckModalDiv {
  width: 710px;
  height: 660px;
  margin-top: -330px;
  margin-left: -355px;
  overflow-y: auto;
}

.modal .modalContainer .deckModalDiv .deckCard {
  width: 150px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  margin: 5px;
}

.modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardLevel, .modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardName, .modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardCost {
  display: inline-block;
}

.modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardLevel {
  border-radius: 25px;
  background-color: #2f98c2;
  width: 20px;
  height: 20px;
  text-align: center;
}

.modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardName {
  width: 120px;
  font-size: 11pt;
}

.modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardCostContainer {
  background-color: #ed92ff;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  float: right;
}

.modal .modalContainer .deckModalDiv .deckCard .cardTitle .cardCostContainer .cardCost {
  text-align: center;
  line-height: 25px;
  width: inherit;
}

.modal .modalContainer .deckModalDiv .deckCard .cardImage {
  width: 150px;
  height: 75px;
  background-color: white;
}

.modal .modalContainer .deckModalDiv .deckCard .cardSubtitle {
  font-size: 8pt;
  padding: 2px 0;
}

.modal .modalContainer .deckModalDiv .deckCard .cardEffect {
  font-size: 10pt;
  background-color: white;
  padding: 2px;
  height: 85px;
}

.modal .modalContainer .transModalDiv {
  width: 815px;
  min-height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  top: 40%;
}

.modal .modalContainer .transModalDiv .transDescription {
  margin-bottom: 15px;
}

.modal .modalContainer .transModalDiv .transDiv,
.modal .modalContainer .transModalDiv .tradeDiv {
  display: inline-block;
  vertical-align: top;
}

.modal .modalContainer .transModalDiv .transDiv .setupDeck,
.modal .modalContainer .transModalDiv .tradeDiv .setupDeck {
  margin-bottom: 10px;
  display: block;
}

.phaseButton {
  width: 400px;
  height: 60px;
  padding: 10px;
  font-size: 16pt;
  margin-top: 10px;
}

#startDiv #startDivContainer {
  margin: 20px 0;
}

#startDiv #startDivContainer .classesDiv {
  margin-top: 20px;
}

#startDiv #startDivContainer .classesDiv .classDiv {
  width: 200px;
  background-color: #f3f3f3;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .className {
  font-size: 15pt;
  font-weight: bold;
}

#startDiv #startDivContainer .classesDiv .classDiv .cTitle {
  width: 60px;
  display: inline-block;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal0 {
  display: inline-block;
  width: 0px;
  background-color: none;
  padding: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal1 {
  display: inline-block;
  width: 20px;
  background-color: #e2280f;
  padding: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal2 {
  display: inline-block;
  width: 40px;
  background-color: #e6a00a;
  padding: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal3 {
  display: inline-block;
  width: 60px;
  background-color: #dfe211;
  padding: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal4 {
  display: inline-block;
  width: 80px;
  background-color: #98e20e;
  padding: 5px;
}

#startDiv #startDivContainer .classesDiv .classDiv .cVal5 {
  display: inline-block;
  width: 100px;
  background-color: #2cdd15;
  padding: 5px;
}

#startDiv #startDivContainer .startPDiv {
  margin-top: 20px;
}

.setupDeck {
  display: inline-block;
  width: 250px;
  min-height: 200px;
  background-color: #e6e6e6;
  vertical-align: top;
  padding: 5px;
}

.setupDeck ul {
  padding: 0;
  list-style-type: none;
}

.setupDeck ul li {
  padding: 5px;
}

.setupDeck ul li:nth-child(odd) {
  background-color: #9dd8ff;
}

.setupDeck ul li:nth-child(even) {
  background-color: #ffe89d;
}

#setupDiv .setupContainer {
  margin-bottom: 10px;
}

#playDiv .playerDiv {
  position: fixed;
  top: 0;
  height: 175px;
  background-color: white;
  width: 100%;
  padding-bottom: 15px;
}

#playDiv .playerDiv .wdmDiv {
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  font-size: 16pt;
  font-weight: bold;
}

#playDiv .playerDiv .wdmDiv span {
  margin-right: 5px;
}

#playDiv .playerDiv .wdmDiv .wdmButton {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}

#playDiv .playerDiv .player {
  display: inline-block;
  width: 250px;
  background-color: #a7dcf1;
  padding: 5px;
}

#playDiv .playerDiv .player .playerButtons {
  margin-top: 5px;
}

#playDiv .playerDiv .player .playerButtons .pButton {
  width: 70px;
  padding: 5px;
  margin-right: 2px;
}

#playDiv #townDiv {
  margin-top: 200px;
}

#playDiv #townDiv .townShop {
  width: 800px;
  padding: 10px;
  margin-bottom: 10px;
}

#playDiv #townDiv .townShop .shopTitle {
  font-size: 18pt;
  font-weight: bold;
}

#playDiv #townDiv .townShop .shopImage {
  width: 300px;
  height: 200px;
  border: solid 1px black;
  display: inline-block;
  background-color: white;
  margin-right: 15px;
}

#playDiv #townDiv .townShop .shopContainer {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px dotted black;
}

#playDiv #townDiv .townShop .shopContainer .shopOptions {
  font-weight: 12pt;
  display: inline-block;
  vertical-align: top;
}

#playDiv #townDiv .townShop .shopContainer .shopOptions .sPlayerOption {
  margin-bottom: 25px;
}

#playDiv #townDiv .townShop .shopContainer .shopOptions .sPlayerOption .shopPlayer {
  display: inline-block;
}

#playDiv #townDiv .townShop .shopContainer .shopOptions .sPlayerOption .shopButton {
  display: inline-block;
}

#playDiv #townDiv .innShop {
  background-color: #a2d3c7;
}

#playDiv #townDiv .marketShop {
  background-color: #ad4747;
}

#playDiv #townDiv .oracleShop {
  background-color: #996ba7;
}

#playDiv #worldDiv {
  margin-top: 200px;
}

#playDiv #worldDiv .worldDungeonDiv {
  margin: 5px 5px 5px 0;
  display: inline-block;
}

#playDiv #worldDiv .bossCard {
  border: solid 1px black;
}

#playDiv #worldDiv .bossCard .bossStatsContainer {
  padding: 10px;
  border-right: solid 1px black;
  display: inline-block;
}

#playDiv #worldDiv .bossCard .bossStatsContainer .bossName {
  font-size: 14pt;
}

#playDiv #worldDiv .bossCard .bossStatsContainer .bossPic {
  margin: 5px 0;
  width: 175px;
  height: 125px;
  border: solid 1px black;
}

#playDiv #worldDiv .bossCard .bossSkillsContainer {
  display: inline-block;
  word-wrap: normal;
  width: 200px;
  vertical-align: top;
  font-size: 11pt;
}

#playDiv #worldDiv .bossCard .bossSkillsContainer .bossSkills {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#playDiv #worldDiv .bossCard .bossSkillsContainer .bossSkills .bossSkillLine {
  padding: 5px;
}

#playDiv #worldDiv .bossCard .bossSkillsContainer .bossSkills .bossSkillLine:nth-child(odd) {
  background-color: #f1f1f1;
}

#playDiv #worldDiv .bossCard .bossSkillsContainer .bossSkills .bossSkillLine:nth-child(even) {
  background-color: #cfcfcf;
}

#playDiv #dungeonDiv {
  margin-top: 200px;
}

#playDiv #dungeonDiv .dungeonDeckContainer {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  height: 300px;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonDeck {
  margin-right: 10px;
  display: inline-block;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonDeck .dungeonDeckBlock {
  width: 100px;
  height: 125px;
  border: solid 1px black;
  background-color: #c3bfcc;
  position: relative;
  margin-bottom: 5px;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonDeck .dungeonDeckBlock .dungeonDeckRemaining {
  font-size: 36pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonPlayed {
  display: inline-block;
  vertical-align: top;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonPlayed .dungeonPlayedCard {
  display: inline-block;
  width: 100px;
  height: 125px;
  border: solid 1px black;
  background-color: white;
  margin-left: -100px;
  padding: 5px;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonPlayed .dungeonPlayedCard:last-child {
  margin-left: -50px;
  width: 200px;
  height: 250px;
  -webkit-box-shadow: -5px 5px #b3c5cc;
          box-shadow: -5px 5px #b3c5cc;
}

#playDiv #dungeonDiv .dungeonDeckContainer .dungeonPlayed .dungeonPlayedCard:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */