
@mixin noSelect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$generalBG: rgb(207, 207, 207);
$barbarianBG: rgb(226, 140, 140);
$rangerBG: rgb(91, 164, 233);
$clericBG: rgb(240, 233, 170);
$rogueBG: rgb(174, 155, 218);
$wizardBG: rgb(133, 164, 221);
$bardBG: rgb(236, 158, 68);
$druidBG: rgb(190, 148, 120);
$monkBG: rgb(131, 192, 216);
$paladinBG: rgb(124, 132, 168);